{% extends 'base.html' %}
{% load static %}

{% block title %}Ludi Gestion - Evènements{% endblock %}

{% block content %}
<div>
    <link rel="stylesheet" href="{% static "css/events.css" %}" />
        {% for event in events %}
        <div class="event">
            <div>
                <p>{{ event.name }} le {{ event.date_french_format }}</p>
                <p>{{ event.description }}</p>
            </div>
            <div>
                {% if user not in event.candidates %}
                <form action="{% url 'events:register-member' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="event_uuid" value="{{ event.pk }}">
                    <button type="submit">
                        S'inscrire
                    </button>
                </form>
                {% else %}
                    {% for candidacy in event.candidacies.all %}
                        {% if user in candidacy.candidates.all %}
                            <p>Candidature {{ forloop.counter }} : </p>
                            {% for candidate_wishes in candidacy.detailed_candidates.all %}
                                <p>Souhaits de : {{ candidate_wishes.candidate.username }}:
                                <p>En tant que joueur ?:
                                    {% if candidate_wishes.player %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </p>
                                <p>En tant que mc ?:
                                    {% if candidate_wishes.speaker %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </p>
                                <p>En tant que dj ?:
                                    {% if candidate_wishes.disk_jockey %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </p>
                                <p>En tant qu'arbitre ?:
                                    {% if candidate_wishes.arbiter %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </p>
                            {% endfor %}
                            <form action="{% url 'events:unregister-member' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="event_uuid" value="{{ event.pk }}">
                                <input type="hidden" name="candidacy_uuid" value="{{ candidacy.pk }}">
                                <button type="submit">
                                    Se désinscrire
                                </button>
                            </form>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}
